a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body {
    font-family: 'Playfair Display',serif;
    font-style: normal;
    font-weight: 400;

    color: #626262;

}
.nav-list a {
    
    
    font-size: 14px;
    line-height: 19px;
    
    color: #7D7D7D;
}